.btn-submit {
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: calc(14px + 0.5vw);
  color: white;
  background-color: #1da55f;

  &:active {
    background-color: #106b3c;
  }

  &:disabled {
    background-color: #5fbf8e;
    cursor: not-allowed;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-prev {
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: calc(14px + 0.5vw);
  color: white;
  background-color: $darkgrey-2;

  &:active {
    background-color: #3d3d3d;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-role-select {
  padding: 15px;
  border: none;
  border-radius: 4px;
  font-size: calc(14px + 0.5vw);
  color: white;
  background-color: #fca400;

  &.disabled {
    background-color: $grey;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 0;
  }
}

#modal-button {
  font-size: calc(14px + 0.25vw);
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #2f98dc;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #1c5b7f;
  }

  @media only screen and (max-width: 500px) {
    padding: 7px;
  }
}

.btn-option {
  padding: 10px 30px;
  font-size: calc(18px + 0.25vw);
  border: 2px solid $darkgrey-2;
  border-radius: 4px;
  background-color: $white;
  color: $black;

  &:hover {
    cursor: pointer;
    background-color: $smoke;
  }
  &:active {
    background-color: $darkgrey-2;
    color: $white;
  }
}

.btn-hollow-1 {
  font-size: calc(14px + 0.25vw);
  padding: 5px;
  border: 2px solid $darkgrey-2;
  border-radius: 4px;
  background-color: $white;
  color: $black;

  &:hover {
    cursor: pointer;
    background-color: $smoke;
  }
  &:active {
    background-color: $darkgrey-2;
    color: $white;
  }

}

.btn-hollow-2 {
  font-size: calc(14px + 0.25vw);
  padding: 5px;
  border: 2px solid $good-green;
  border-radius: 4px;
  background-color: $white;
  color: $good-green;

  &:hover {
    cursor: pointer;
    background-color: $smoke;
  }

  &:active {
    background-color: $good-green;
    color: $white;
  }
}

.btn-hollow-3 {
  font-size: calc(14px + 0.25vw);
  padding: 5px;
  border: 2px solid $error;
  border-radius: 4px;
  background-color: $white;
  color: $error;

  &:hover {
    cursor: pointer;
    background-color: $smoke;
  }

  &:active {
    background-color: $good-green;
    color: $white;
  }
}

.btn-modal-1 {
  font-size: calc(14px + 0.25vw);
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #2f98dc;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #1c5b7f;
  }
}

.btn-modal-2 {
  font-size: calc(14px + 0.25vw);
  padding: 7px;
  border: none;
  border-radius: 4px;
  background-color: #39c427;
  color: $white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #278c1a;
  }
}

.view-roster-button {
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: calc(14px + 0.25vw);
  background-color: #fca400;
  color: $white;

  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #e29300;
  }
}

.workout-edit-submit {
  border: none;
  border-radius: 4px;
  background-color: $good-green;
  color: $white;
  padding: 7px;

  &:active {
    background-color: $good-green-active;
  }


  &:hover {
    cursor: pointer;
  }
}

.workout-edit-cancel {
  border: none;
  border-radius: 4px;
  background-color: $darkgrey-2;
  color: $white;
  padding: 7px;

  &:active {
    background-color: $darkgrey;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-delete {
  border: none;
  border-radius: 4px;
  background-color: $error;
  color: $white;
  padding: 7px;

  &:active {
    background-color: $error-dark;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal-submit {
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  font-size: calc(18px + 0.25vw);
  background-color: #1da55f;
  color: $white;

  &:active {
    background-color: #106b3c;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal-close {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: calc(15px + 0.25vw);
  background-color: $med-grey;
  color: $white;

  &:active {
    background-color: $darkgrey-2;
  }

  &:hover {
    cursor: pointer;
  }
}

.modal-prev {
  padding: 10px;
  border: 2px solid $grey;
  border-radius: 4px;
  font-size: calc(15px + 0.25vw);
  background-color: $white;
  color: $black;

  &:active {
    background-color: $smoke;
  }

  &:hover {
    cursor: pointer;
  }
}

.btn-select {
  width: 110px;
  padding: 15px 30px;
  font-size: calc(18px + 0.25vw);
  border: none;
  border-radius: 4px;
  color: $white;

  &:hover {
    cursor: pointer;
  }

  &.erg {
    background-color: #ffaf11;

    &:active {
      background-color: #eda412;
    }
  }

  &.row {
    background-color: #2b85bc;

    &:active {
      background-color: #1e6089;
    }
  }

  &.run {
    background-color: #4abff9;

    &:active {
      background-color: #3d9ece;
    }
  }

  &.bike {
    background-color: #f96d4a;

    &:active {
      background-color: #e2603f;
    }
  }
}
