$div-background: #e8e8e8;

.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;


  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: $div-background;
  color: black;
}

.workout-feed, .results-feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 93%;

  &:not(.workout-feed) {
    height: 60%;
  }

  .workout-posts {
    overflow-y: auto;
  }
  #feed-title {
    display: fixed;
    font-size: 48px;
    margin-top: 10px;
    margin-left: 10px;
  }
  #modal-button {
    margin: 5px;
    margin-top: 10px;
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #2f98dc;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #1c5b7f;
    }
  }
  #team-workout-modal-button {
    margin: 5px;
    margin-top: 10px;
    height: 40px;
    width: 180px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #2f98dc;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #1c5b7f;
    }
  }
  #create-modal-button {
    margin: 5px;
    margin-top: 10px;
    height: 40px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #fca400;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #d68e08;
    }
  }
  #join-modal-button {
    margin: 5px;
    margin-top: 10px;
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #2bb8d1;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #1e8496;
    }
  }
  #result-modal-button {
    margin: 5px;
    height: 30px;
    width: 100px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #84bee0;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #577d93;
    }
  }
  #view-result-modal-button {
    margin: 5px;
    height: 30px;
    width: 120px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #82cc91;
    color: white;
    &:hover {
      cursor: pointer;
    }
    &:active {
      background-color: #54825d;
    }
  }
  .headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .workout-content, .workout-edit-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #f4f4f4;
    margin: 10px;
    border-radius: 3px;
    border-style: solid;
    border-color: #d6d6d6;
    border-width: thin;
    padding: 10px;
    width: 550px;
    font-size: 20px;

    .workout-div-column {
      margin: 10px;
      margin-left: 15px;
      margin-right: 15px;
    }
    i {
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    li {
      margin: 5px;
    }
    input {
      height: 30px;
      width: 100px;
      font-size: 20px;
      border-style: none;
      border-radius: 5px;
    }
    select {
      height: 30px;
      font-size: 20px;
      border-style: none;
      border-radius: 5px;
      background-color: white;
    }
    button {
      margin-top: 15px;
      margin-left: 5px;
      margin-right: 5px;
      border: none;
      border-radius: 5px;
      background-color: #1da55f;
      color: white;
      padding: 5px;
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }
    .workout-edit-cancel {
      background-color: #595959;
    }
  }
}
.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;

  .form-title {
    font-size: 40px;
  }
  .column-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

    #time-field {
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-weight: bold;
      font-size: 20px;
    }
    input {
      width: 80%;
      height: 30px;
      font-size: 20px;
      border-style: solid;
      border-color: grey;
      border-width: 1px;
      border-radius: 5px;
    }
    #teamName {
      width: 100%;
    }
    #userType {
      width: 80%;
    }
    select {
      width: 60%;
      height: 30px;
      font-size: 16px;
      border-style: solid;
      border-color: grey;
      border-radius: 5px;
      background-color: white;
    }
  }
}

.modal-submit, .modal-close {
  margin-top: 35px;
  margin-bottom: 15px;
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #1da55f;
  &:not(.modal-submit) {
    background-color: #595959;
    &:active {
      background-color: #3d3d3d;
    }
  }
  color: white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #106b3c;
  }
}

.results-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  color: black;
  border-radius: 5px;
  border: none;
  width: 40%;

  .results-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

.results-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#addTeam {
  width: 25%;
}

.modal {
  margin-top: 145px;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.5);
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
