.home-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  overflow: auto;
  color: black;
  margin-top: 50px;

  @media only screen and (max-width: 800px) {
    margin-left: 0px;
    margin-right: 0px;
  }
  @media only screen and (max-width: 500px) {
    margin-top: 30px;
  }
}
