.site-welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10% 25% 0%;
  background-color: rgba(50, 50, 50, 0.5);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  padding: 30px;
  text-align: center;

  .tagline {
    color: white;
    margin: 25px;
    font-size: 70px;
    font-weight: 550;
    text-align: center;
  }
  .button-group {

    #signup-button {
      border: none;
      border-radius: 8px;
      padding: 5px;
      font-size: 45px;
      background-color: #1da55f;
      color: white;
      margin: 10px;
      width: 100%;

      &:active {
        background-color: #106b3c;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .already-user {
    margin-top: 20px;
    font-size: 20px;

    a:active {
      color: rgb(200, 200, 200);
    }
  }
}
