.site-welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3% 20% 0%;
//  background-color: rgba(50, 50, 50, 0.3);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  padding: 30px;
  text-align: center;

  .tagline {
    color: white;
    margin: 20px;
    font-size: 60px;
    font-weight: 550;
    text-align: center;
  }

  .info {
    width: 80%;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    flex-direction: row;

    .button {
      border: none;
      border-radius: 8px;
      padding: 5px;
      font-size: 35px;
      color: white;
      margin: 10px;

      &.start-team {
        background-color: #fca400;

        &:active {
          background-color: #d68e08;
        }
      }

      &.sign-up {
        background-color: #2f98dc;

        &:active {
          background-color: #1c5b7f;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
  .already-user {
    background-color: rgba(50, 50, 50, 0.5);
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;

    a:active {
      color: rgb(200, 200, 200);
    }
  }
}
