.site-welcome {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 20% 0%;
  height: 430px;
  background-color: rgba(50, 50, 50, 0.5);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  text-align: center;

  .tagline {
    color: white;
    margin: 20px;
    font-size: 60px;
    font-weight: 550;
    text-align: center;
  }

  .info {
    width: 80%;
    font-size: 25px;
    margin-bottom: 15px;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;

    .button {
      border: none;
      border-radius: 8px;
      padding: 5px;
      font-size: 35px;
      color: white;
      margin: 10px;
      background-color: #1da55f;

      &:active {
        background-color: #106b3c;
      }


      &:hover {
        cursor: pointer;
      }
    }
  }
  .already-user {
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;

    a:active {
      color: rgb(200, 200, 200);
    }
  }
}
