.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    font-size: calc(30px + 1.5vw);
  }

  .loading-dots {
    margin-top: 30px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    z-index: 5;

    .dot {
      display: inline;
      margin-left: 0.2em;
      margin-right: 0.2em;
      position: relative;
      top: -1em;
      font-size: calc(40px + 1.5vw);
      opacity: 0;
      animation: showHideDot 2.0s ease-in-out infinite;

      &.one { animation-delay: 0.1s; }
      &.two { animation-delay: 0.2s; }
      &.three { animation-delay: 0.3s; }
      &.four { animation-delay: 0.4s; }
    }
  }

  @keyframes showHideDot {
    0% { opacity: 0; }
    50% { opacity: 1; }
    60% { opacity: 1; }
    100% { opacity: 0; }
  }
}
