.modal {
  outline: none;
  width: fit-content;
  height: fit-content;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-form {
  margin-top: 8vh;
  height: 625px;
  width: 425px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: $snow;
  border-radius: 4px;
  border: none;
  opacity: 1;
  transition: opacity 0.2s;

  @media only screen and (max-width: 500px) {
    height: 100vh;
    width: 100vw;
    padding: 60px 0px 0px;
    border-radius: 0px;
    margin-top: 0;
  }

  .modal-prev, .modal-close, .btn-select, .btn-option {
    margin: 15px 0px;
  }

  .col-unit {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;

    .p-sm {
      margin-bottom: 10px;
    }
  }

  .row-unit {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  input {
    height: 35px;
    width: 130px;
    font-size: calc(15px + 0.25vw);
    border-style: none;
    border-radius: 5px;
    text-align: center;
    border: 2px $snow solid;

    &.input-lg {
      width: 160px;
    }

    &.input-extra-lg {
      width: 325px;
    }

    &.invalid {
      border-style: solid;
      border-width: 2px;
      border-color: #d12600;
    }

  }

  .status-text {
    text-align: center;
    height: 25px;
    width: 100%;
    margin: 10px 0px;

    &.error {
      color: #d12600;
    }
  }

  #required-msg {
    margin-top: 10px;
  }
}
