.modal {
  margin-top: 60px;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(38, 38, 38, 0.5);
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #e8e8e8;
  color: black;
  border-radius: 5px;
  border: none;

  .form-title {
    font-size: 40px;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }

  input {
    width: 100px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    text-align: center;

    &.time-input {
      width: 50px;
    }

    &.athlete-names {
      width: 200px;
    }

  }
}

.modal-submit, .modal-close {
  margin: 10px 5px 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  background-color: #1da55f;
  &:not(.modal-submit) {
    background-color: #595959;
    &:active {
      background-color: #3d3d3d;
    }
  }
  color: white;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #106b3c;
  }
}

.modal-prev {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  color: black;
  &:hover {
    cursor: pointer;
  }
  &:active {
    background-color: #d8d8d8;
  }
}
