$div-background: #e8e8e8;

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: $div-background;
  color: black;
  height: 90%;

  .profile-feed-title {
    display: fixed;
    font-size: 36px;
    margin-top: 40px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    width: 25%;

    div {
      border-style: none;
      border-radius: 5px;
      margin: 10px 5px;
    }

    .row-unit {
      display: inline;
    }

    .user-name {
      font-size: 36px;
    }
    .team-name {
      font-weight: bold;
    }

    .profile-feed-title {
      display: fixed;
      font-size: 36px;
      margin-top: 40px;
    }

    .VictoryContainer {
      height: 50% !important;
    }

    &.edit {
      div {
        margin: 5px 0px;
      }

      input {
        height: 20px;
        width: 150px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
      }
      select {
        height: 20px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
      }
      button {
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        border-radius: 5px;
        background-color: #1da55f;
        color: white;
        padding: 5px;
        font-size: 16px;
        &:hover {
          cursor: pointer;
        }
      }
      .user-edit-cancel {
        background-color: #595959;
      }
    }
  }
}

.user-column-group {
  display: flex;
  flex-direction: row;
}
