$div-background: #e8e8e8;

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  margin-top: 40px;
  margin-left: 80px;
  margin-right: 80px;
  border-radius: 5px;
  padding: 10px;
  background-color: $div-background;
  color: black;
  height: 93%;

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    div:not(.user-name) {
      margin-top: 10px;
      font-size: 18px;
      background-color: #f4f4f4;
      padding: 5px;
      border-style: none;
      border-radius: 5px;
    }

    .user-name {
      font-size: 48px;
    }
    .team-name {
      font-weight: bold;
    }
  }

  .profile-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 95%;

    .workout-feed {
      overflow: auto;
    }

    #feed-title {
      display: fixed;
      font-size: 35px;
      margin-top: 40px;
    }

    .VictoryContainer {
      height: 50% !important;
    }
  }

}

.user-info-column {
  margin: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.user-edit-form {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #f4f4f4;
  margin-top: 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: #d6d6d6;
  border-width: thin;
  padding: 10px;
  font-size: 20px;

  i {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  li {
    margin: 5px;
  }
  input {
    height: 30px;
    width: 150px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
  }
  select {
    height: 30px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: white;
  }
  button {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    background-color: #1da55f;
    color: white;
    padding: 5px;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
  .user-edit-cancel {
    background-color: #595959;
  }
}

.user-column-group {
  display: flex;
  flex-direction: row;
}
