$div-background: #e8e8e8;

.profile-page {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;

  margin-top: 50px;
  border-radius: 5px;

  @media only screen and (max-width: 800px) {
    margin-left: 20px;
    margin-right: 20px;
  }

  @media only screen and (max-width: 550px) {
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0px;
    margin-right: 0px;
  }

  padding: 10px;
  color: black;

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f4f4f4;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    width: 25%;

    @media only screen and (max-width: 550px) {
      justify-content: space-around;
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      .info-list {
        display: flex;
        flex-direction: row;
      }
    }

    div {
      border-style: none;
      border-radius: 5px;
      margin: 10px 5px;
      @media only screen and (max-width: 550px) {
        margin: 5px 5px;
      }
    }

    .row-unit {
      display: inline;
    }

    .user-name {
      font-size: 36px;
      @media only screen and (max-width: 550px) {
        font-size: 24px;
      }
    }
    .team-name {
      font-weight: bold;
    }

    &.edit {
      div {
        margin: 5px 0px;
      }

      input {
        height: 20px;
        width: 150px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
      }
      select {
        height: 20px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
      }
      button {
        margin-top: 15px;
        margin-left: 5px;
        margin-right: 5px;
        border: none;
        border-radius: 5px;
        background-color: #1da55f;
        color: white;
        padding: 5px;
        font-size: 16px;
        &:hover {
          cursor: pointer;
        }
      }
      .user-edit-cancel {
        background-color: #595959;
      }
    }
  }
}
