.results-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $snow;

  .date {
    margin-top: 10px;
  }

  .h1 {
    margin-bottom: 10px;
  }

  #editModeButton, #viewModeButton, #editInstructions {
    margin-bottom: 10px;
  }

  .column-titles {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: $darkgrey-2;
    margin-bottom: 10px;

    .row-unit {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
    }
  }

  .line {
    border-width: 1px;
    margin: 5px 0px 10px;
  }

  .result-feed {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 5px;
  }

  .instructions {
    margin: auto 20px;
    text-align: center;
  }

  .result-post {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 2px solid $smoke;
    transition: height 0.2s;

    &.edit {
      height: 110px;
      flex-direction: column;
      justify-content: space-around;
    }

    &.show-msg {
      height: 120px;
    }

    &:last-child {
      border-bottom: 2px solid $smoke;
    }

    .row-unit {
      display: flex;
      flex-direction: row;
      flex: 1;
      justify-content: center;
      align-items: center;

      div.icon {
        margin: 0px 10px;
      }

      button {
        margin: 0px 5px;
      }

      i {
        &:hover {
          cursor: pointer;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      button {
        margin: 0px 10px;
      }

      .workout-edit-submit {
        padding-left: 20px;
        padding-right: 20px;
      }
    }

    input {
      border-style: none;
      border-radius: 4px;
      text-align: center;

      &.input-sm {
        width: calc(30px + 5vw);
      }

      &.input-md {
        width: calc(40px + 5vw);
      }

      &.input-lg {
        width: calc(50px + 5vw);
      }

      &.invalid {
        border-style: solid;
        border-width: 2px;
        border-color: #d12600;
      }
    }

    .workout-edit-cancel {
      background-color: #595959;
    }

    .status-text {
      margin-top: 5px;

      &.error {
        color: #d12600;
      }
    }
  }

  .modal-close {
    margin: auto 0px 20px;
  }
}
