.results-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  color: black;
  border-radius: 5px;
  border: none;
  max-height: 75vh;
  width: 80vw;

  @media only screen and (max-width: 650px) {
    margin: 70px 25px 0px;
  }
  @media only screen and (max-width: 500px) {
    margin: 50px 5px 0px;
  }


  .instructions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .results-view-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 750px;
    width: 100%;

    @media only screen and (max-height: 850px) {
      height: 600px;
    }
    @media only screen and (max-height: 700px) {
      height: 450px;
    }
  }

  .results-view {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 90%;
  }

  .results-title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .result-feed {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.result-post {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4;
  margin: 0px;
  border-radius: 3px;
  border-style: solid;
  border-color: #d6d6d6;
  border-width: thin;
  @media only screen and (max-width: 550px) {
    font-size: 14px;
  }

  .content {
    margin: 0px 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  div {
    margin: 10px;
  }

  i {
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  li {
    margin: 5px;
  }

  input {
    height: 30px;
    width: 100px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;

    &.invalid {
      border-style: solid;
      border-width: 2px;
      border-color: #d12600;
    }
  }

  select {
    height: 30px;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: white;
  }

  .workout-edit-cancel {
    background-color: #595959;
  }

  .row-unit {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px;
  }

  &.edit {
    .content {
      justify-content: center;
      @media only screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    div {
      margin: 5px 10px;
    }

    input {
      height: 25px;
      font-size: 16px;
      text-align: center;
    }


    .input-sm {
      max-width: 40px;
      height: 25px;
    }

    .input-md {
      max-width: 80px;
    }

    .input-row {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    button {
      margin: 0px 5px;
    }
    .status-text {
      &.error {
        color: #d12600;
      }
    }
  }
}
