.sign-in-form, .signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5% 20% 0%;
  height: 430px;
  background-color: rgba(50, 50, 50, 0.5);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  font-size: 25px;
  @media only screen and (max-width: 1350px) {
    margin-top: 10%;
  }
  @media only screen and (max-width: 750px) {
    margin-top: 15%;
  }
  @media only screen and (max-width: 650px) {
    margin: 20% 15% 0%;
    width: 70%;
  }
  @media only screen and (max-width: 550px) {
    width: 80%;
    margin: 25% 10%;
    font-size: 24px;
    height: auto;
  }

  form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;

    @media only screen and (max-width: 550px) {
      padding: 10px;
      width: 90%;
    }

    h2, h3 {
      margin: 15px;
    }

    .button-group {
      display: flex;
      flex-direction: row;

      button {
        margin: 5px;
        background-color: #fca400;

        &.disabled {
          background-color: grey;
        }

        &:not(.disabled) {
          background-color: #fca400;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    .field {
      margin-top: 15px;
      margin-bottom: 5px;
      text-align: center;

      @media only screen and (max-width: 550px) {
        width: 100%;
      }

    }

    .team-name, .team-code {
      input {
        margin-top: 15px;
        text-align: center;
      }
      @media only screen and (max-width: 550px) {
        margin-top: 15px;
      }
    }

    .fa-stack {
      position: fixed;
      margin-top: 10px;
      display: inline;
    }

    .fa-circle {
      color: white;
      font-size: 0.9em;
    }

    .fa-check-circle {
      color: #1da55f;
    }

    .fa-times-circle {
      color: #ff6347;
    }

    input {
      width: 350px;
      height: 40px;
      font-size: 22px;
      border-style: none;
      border-radius: 5px;
      padding-left: 5px;

      @media only screen and (max-width: 650px) {
        width: 100%;
      }
      @media only screen and (max-width: 500px) {
        width: 90%;
      }
      @media only screen and (max-width: 400px) {
        height: 35px;
        font-size: 16px;
      }
    }

    button {
      margin-top: 15px;
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      color: white;

      @media only screen and (max-width: 400px) {
        font-size: 18px;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .team-name {
      input {
        width: 95%;
        @media only screen and (max-width: 550px) {
          font-size: 18px;
          width: 75%;
        }
        @media only screen and (max-width: 550px) {
          width: 60%;
        }
      }
    }

    .team-code {
      input {
        width: 50%;
        @media only screen and (max-width: 400px) {
          font-size: 18px;
        }
      }
    }

    .signup-button, .signin-button {
      background-color: #1da55f;

      &:active {
        background-color: #106b3c;
      }
    }

    .back-button {
      background-color: #595959;
      width: 62px;

      &:active {
        background-color: #3d3d3d;
      }
    }

    .next-button {
      background-color: #1da55f;
      width: 62px;

      &:disabled {
        background-color: #5fbf8e;
        cursor: default;
      }
    }

    .status-text {
      text-align: center;
      margin-top: 10px;
    }

  }
}
