.signin-form, .signup-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 35% 0%;
  background-color: rgba(50, 50, 50, 0.3);
  background-repeat: no-repeat;
  border-style: none;
  border-radius: 10px;
  font-size: 25px;

  form {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .field {
      text-align: center;
    }

    input {
      width: 75%;
      height: 40px;
      font-size: 25px;
      border-style: none;
      border-radius: 5px;
    }
    button {
      margin-top: 25px;
      padding: 10px;
      border: none;
      border-radius: 8px;
      font-size: 20px;
      color: white;

      &:hover {
        cursor: pointer;
      }
    }

    .signup-button, .signin-button {
      background-color: #1da55f;

      &:active {
        background-color: #106b3c;
      }
    }

    .back-button {
      background-color: #595959;

      &:active {
        background-color: #3d3d3d;
      }
    }

  }
}
