$darkgrey: #3f3f3f;
$darkgrey-2: #545454;
$heartbeat: #d80a0a;
$lightgrey: #eaeaea;
$grey: #8c8c8c;
$smoke: #e8e8e8;
$smoke-translucent: rgba(232, 232, 232, 0.7);
$smoke-overlay: rgba(232, 232, 232, 0.5);
$darkslateblue: #173f6c;
$snow: #f5f5f5;
$snow-translucent: rgba(249, 249, 249, 0.7);
$snow-overlay: rgba(249, 249, 249, 0.5);
$good-green: #1da55f;
