.workout-feed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  padding: 0px 10px;

  .workout-post, .team-workout-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    margin: 10px 0px;
    border-radius: 2px;
    border: 2px solid $smoke;
    width: 100%;
    padding: 10px 0px;

    .header {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 15px;

      .profile-link {
        color: $black;
        background-color: none;
        margin-right: auto;

        &:hover {
          color: $link-hover;
          text-decoration: underline;
        }

        &:active {
          color: $link-active;
        }
      }

      .header-item {
        flex: 1;
      }

      .activity {
        text-transform: capitalize;
      }
    }

    .line {
      margin: 5px 0px;
      border-width: 0.5px;
      border-color: $grey;
    }

    .content {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 15px;

      .p-extra-sm {
        color: $darkgrey-2;
      }

      .col-unit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 40px;
        margin-bottom: 5px;
        flex-basis: 1;
        min-width: 80px;

        @media only screen and (max-width: 500px) {
          margin-right: 25px;
        }

        &:last-child {
          margin-right: 0px;
        }

        &.notes-col {
          width: 100%;
        }
      }

      .notes {
        max-width: 100%;
        word-wrap: break-word;
      }

      textarea {
        border-radius: 5px;
        padding: 5px;
        border-style: none;
        width: 95%;
        max-width: 95%;
      }
    }

    .footer {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }

    .row-unit {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      &.btn {
        margin-left: auto;

        button {
          margin-left: 20px;
        }
      }

      div {
        margin: 0px 10px;
      }

      &.icon {
        margin-left: auto;
        i {
          font-size: 18px;
          margin: 0px 8px;
        }
      }
    }

    i {
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    input {
      padding: 5px;
      border-style: none;
      border-radius: 5px;
      font-size: calc(15px + 0.25vw);
      text-align: center;
      border: 2px $white solid;

      &.invalid {
        border-style: solid;
        border-width: 2px;
        border-color: $error;
      }
    }

    .input-sm {
      max-width: 40px;
    }

    .input-md {
      max-width: 80px;
    }

    .input-lg {
      max-width: 120px;
    }

    select {
      height: 35px;
      padding: 5px;
      font-size: calc(15px + 0.25vw);
      border-style: none;
      border-radius: 5px;
      background-color: white;
    }

    button {
      margin: 0px 5px;
    }

    .status-text {
      flex: 1;
      text-align: center;
      margin-top: 10px;
      height: 20px;
      &.error {
        color: $error;
      }
    }
  }
}
