.workout-feed-container {
  margin-top: 10px;
  width: 40%;

  @media only screen and (max-width: 1500px) {
    width: 50%;
  }
  @media only screen and (max-width: 1250px) {
    width: 60%;
  }
  @media only screen and (max-width: 900px) {
    width: 70%;
  }
  @media only screen and (max-width: 800px) {
    margin-top: 20px;
    width: 80%;
  }
  @media only screen and (max-width: 550px) {
    width: 100%;
  }
}

.workout-feed, .results-feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;

  .feed-title {
    display: fixed;
    text-align: center;
    font-size: 48px;

    @media only screen and (max-width: 800px) {
      font-size: 36px;
    }
    @media only screen and (max-width: 550px) {
      font-size: 30px;
    }
  }

  .headers {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .workout-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4;
    margin: 5px 10px;
    border-radius: 3px;
    border-style: none;
    width: 98%;

    .header {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
    }

    .content {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 10px;
    }

    .details {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 10px;

      div {
        margin: 0px 10px;
      }
    }

    .footer {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
    }

    .row-unit {
      display: flex;
      flex-direction: row;
      align-items: center;

      div {
        margin: 0px 10px;
      }

      &.icon {
        margin-left: auto;
        i {
          font-size: 18px;
          margin: 0px 8px;
        }
      }
    }

    i {
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    .workout-creator {
      color: black;
      background-color: none;
      text-decoration: underline;
    }

    &.edit {
      .row-unit {
        margin: 0px 10px;
      }
      .footer {
        justify-content: flex-end;
      }

      input {
        height: 25px;
        border-style: none;
        border-radius: 5px;
        font-size: 16px;
        text-align: center;

        &.invalid {
          border-style: solid;
          border-width: 2px;
          border-color: #d12600;
        }
      }

      select {
        height: 27px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
      }


      .input-sm {
        max-width: 40px;
        height: 25px;
      }

      .input-md {
        max-width: 80px;
      }

      button {
        margin: 0px 5px;
      }

      .status-text {
        flex: 1;
        text-align: center;
        margin-top: 10px;

        &.error {
          color: #d12600;
        }
      }

    }
  }

  .team-workout-post {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f4f4f4;
    margin: 5px 10px;
    border-radius: 3px;
    border-style: none;
    width: 98%;

    .header {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 5px 10px;
    }


    .content {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 5px 10px;

      div {
        margin: 0px 20px;
      }

      @media only screen and (max-width: 350px) {
        .row-unit.data {
          margin-right: 0px;
        }
        .row-unit.button {
          margin-right: 0px;
          margin-left: auto;
        }
      }
    }

    .footer {
      width: 95%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 5px 10px;
    }

    .row-unit {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0px;

      &.icon {
        margin-left: auto;
        i {
          font-size: 18px;
          margin: 0px 8px;
        }
      }
    }

    i {
      font-size: 20px;
      &:hover {
        cursor: pointer;
      }
    }

    li {
      margin: 5px;
    }

    .profile-link {
      color: black;
      background-color: none;
      text-decoration: underline;
    }

    &.edit {
      select {
        height: 27px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        background-color: white;
      }

      input {
        height: 25px;
        font-size: 16px;
        border-style: none;
        border-radius: 5px;
        text-align: center;

        &.invalid {
          border-style: solid;
          border-width: 2px;
          border-color: #d12600;
        }
      }

      .input-sm {
        max-width: 40px;
        height: 25px;
      }

      .input-md {
        max-width: 90px;
      }

      .input-row {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      button {
        margin: 0px 5px;
      }

      .status-text {
        flex: 1;
        text-align: center;
        margin-top: 10px;

        &.error {
          color: #d12600;
        }
      }
    }
  }
}
