@import '/styles/landing.scss';
@import '/styles/signupin.scss';
@import '/styles/home.scss';
@import '/styles/profile.scss';
@import '/styles/team.scss';

body {
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  color: white;
  background-color: #242628;
}

.active div:not(#home-button-deauth) {
  background-color: #babfc6;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 0;
  margin-bottom: 80px;
  background-color: #173f6c;

  .navigation {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    div {
      margin: 5px;
      padding: 10px;
      border: 2px solid transparent;
      border-radius: 5px;
    }
    div:hover, #signout-button:hover {
      border-color: white;
    }
    #name-logo {
      position: fixed;
      left: 10px;
      border-style: none;
      font-size: 30px;
      margin: 0px;
    }
    #signout-button {
      color: white;
      background-color: rgba(0,0,0,.3);
      border: 2px solid transparent;
      cursor: pointer;
    }
  }
}
