@import '/styles/landing.scss';
@import '/styles/signupin.scss';
@import '/styles/home.scss';
@import '/styles/profile.scss';
@import '/styles/team.scss';
@import '/styles/buttons.scss';
@import '/styles/modal.scss';
@import '/styles/results.scss';
@import '/styles/workoutfeed.scss';
@import '/styles/loading.scss';

body {
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: #e8e8e8;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: 0;
  background-color: #173f6c;

  .active .nav-button:not(#home-button-deauth) {
    background-color: #babfc6;
  }

  .navigation {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @media only screen and (max-width: 650px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 400px) {
      justify-content: center;
    }

    div {
      margin: 5px;
      padding: 10px;
      border: 2px solid transparent;
      border-radius: 5px;
      @media only screen and (max-width: 500px) {
        padding: 8px;
        margin: 2px;
        font-size: 14px;
      }
    }

    div:hover, #signout-button:hover {
      border-color: white;
    }

    #name-logo {
      position: fixed;
      left: 10px;
      border-style: none;
      font-size: 30px;
      font-weight: 550;
      margin: 0px;

      @media only screen and (max-width: 650px) {
        font-size: 16px;
        margin-top: 2px;
      }

      @media only screen and (max-width: 400px) {
        display: none;
      }

      sup {
        font-size: 16px;
        font-weight: 400;

        @media only screen and (max-width: 650px) {
          font-size: 8px;
          font-weight: lighter;
        }
      }
    }

    #signout-button {
      color: white;
      background-color: rgba(0,0,0,.3);
      border: 2px solid transparent;
      cursor: pointer;
    }
  }
}
